<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/logo-mtc.png" alt="MTC" height="28" class="me-2">
      Asesor Turístico Ferroviario y Peatonal
    </a>
    <div class="navbar-nav">
      <a class="nav-link" href="/preferencias">Turista</a>
      <a class="nav-link" href="/admin/zonas" sec:authorize="hasAnyRole('ADMIN_MTC','TRAVEL_GROUP_USER')" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">Zonas</a>
      <a class="nav-link" href="/admin/estaciones" sec:authorize="hasAnyRole('ADMIN_MTC','TRAVEL_GROUP_USER')" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">Estaciones</a>
      <a class="nav-link" href="/admin/servicios-tren" sec:authorize="hasRole('ADMIN_MTC')" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">Horarios/Tarifas</a>
      <a class="nav-link" href="/admin/auditoria" sec:authorize="hasRole('ADMIN_MTC')" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">Auditoría</a>
      <a class="nav-link" href="/login">Ingresar</a>
    </div>
  </div>
</nav>
</body>
</html>
